* {
    padding: 0;
    margin: 0;
    font-family: 'Robotto';
    
}

body {
    background-color: #f2efe559;
    padding-left: 30px;
    padding-top: 60px; 
}

.card{
    margin-bottom: 30px;
    --bs-secondary-bg: #B4B4B8

}
.search{
    padding-bottom: 30px;
    
}
.container{
    padding-left: 0;
}